RewriteEngine On
RewriteBase /videos

RewriteCond %{REQUEST_FILENAME} \.json$
RewriteRule . - [F,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [NC,L]

RewriteRule ^ video-player.php [NC,L]
