
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin-top: 1.5%;
    background-color: #141313;
    font-family: Quattrocento Sans;
    color: #7e7e7e;
}

h3
{
    margin-top: 0px;
}

h3, h4
{
    color: #7e7e7e;
}

a
{
    color: #7e7e7e;
    font-family: Cabin;
    font-size: 18px;
}

a:hover
{
    color: #FFFFFF;
}

h1
{
    font-family: Cabin;
    font-size: 24px;
}

h2
{
    font-size: 18px;
}
